<template name="cards_ghevent">
	<div class="gh_eventCard" data-index="{{atIndex}}">
		<h2>
			GitHub Event
		</h2>
		<ul>
			<li>
				{{#if repositories.isSingle}}
					<strong>Project:</strong>
				{{else}}
					<strong>Projects:</strong>
				{{/if}}
				{{#each repositories.collection}}
					<a href="{{url}}" title="{{name}}">
						{{name}}
					</a>
				{{/each}}
			</li>
			<li>
				<strong>Commits: </strong>
				<span>{{commits.size}}</span>
			</li>
			<li>
				{{formattedDate lastEvent.created_at "DD[.] MMM YYYY [at] h:mm a"}}
			</li>
		</ul>
		
	</div>
</template>