<template name="cards_content_item">
	{{#if Template.subscriptionsReady}}
		<section class="item {{asClassName fields.title}}">
			<div class="item__content">
				<div class="item__content__info">
					<h2 class="item__content__info__title">
						{{fields.title}}
					</h2>
					{{#markdown}}{{fields.content}}{{/markdown}}
				</div>
				<div class="item__content__images">
					{{#with this}}
						{{>content_images}}
					{{/with}}		
				</div>
			</div>
		</section>
	{{/if}}
</template>

<template name="content_images">
	{{#if images.useSlider}}
		<div class="image__slider">
			{{#with images.collection}}
				{{> components_imageslider}}
			{{/with}}
		</div>
	{{else}}
		<div class="image__standalone">
			{{#with images.collection}}
				{{#each this}}
					{{> cards_image}}
				{{/each}}
			{{/with}}
		</div>
	{{/if}}	
</template>