<template name="cards_job">
	{{#if Template.subscriptionsReady}}
		<section class="job">
			<h1>
				{{fields.organisation}}
			</h1>
			<h2>
				{{fields.role}}, {{fields.location}}
			</h2>
			<div class="dates">
				<!-- startDate -->
				<time datetime="{{timestamp fields.startDate}}">
					{{formattedDate fields.startDate 'MMM YYYY'}} &ndash;
				</time>
				<!-- endDate -->
				{{#if variableExists fields.endDate}}
					<time datetime="{{timestamp fields.endDate}}">
						{{formattedDate fields.endDate 'MMM YYYY'}}
					</time>
				{{else}}
					<span>
						Present
					</span>
				{{/if}}
			</div>
			<!-- This markdown should generate an unordered list -->
			<div class="description">
				{{#markdown}}{{fields.description}}{{/markdown}}
				<div class="images">
					{{#with images}}
						{{>cards_image}}
					{{/with}}
				</div>
			</div>
		</section>
	{{/if}}
</template>