<template name="cards_portfolio_item">
	{{#if Template.subscriptionsReady}}
		<section class="portfolioItem">
			<div class="portfolioContent">
				<div class="info">
					<h2>
						{{fields.title}}
					</h2>
					{{#markdown}}{{fields.description}}{{/markdown}}
					<h3>
						Code / Skills
					</h3>
					<ol>
						{{#each skills}}
							<li>
								{{fields.title}}
							</li>
						{{/each}}
					</ol>
				</div>
			
				{{#if images.useSlider}}
					<div class="imageSlider">
						{{#with images.collection}}
							{{> components_imageslider}}
						{{/with}}
					</div>
				{{else}}
					<div class="image">
						{{#with images.collection}}
							{{#each this}}
								{{> cards_image}}
							{{/each}}
						{{/with}}
					</div>
				{{/if}}					
				
			</div>
			{{#if linksExist.some}}
				<div class="portfolioLinks">
					{{#if linksExist.githubUrl}}
						<a href="{{fields.githubUrl}}" class="icon-github" title="See {{fields.title}} on GitHub">
						</a>
					{{/if}}
					{{#if linksExist.productionUrl}}
						<a href="{{fields.productionUrl}}" title="{{fields.title}}">
							{{fields.productionUrl}}
						</a>
					{{/if}}
				</div>
			{{/if}}
		</section>
	{{/if}}
</template>