<template name="cards_portfolio_item">
	{{#if Template.subscriptionsReady}}
		<section class="item">
			<div class="item__content">
				<div class="item__content__info">
					<h2 class="item__content__info__title">
						{{fields.title}}
					</h2>
					{{#markdown}}{{fields.description}}{{/markdown}}
					{{#with this}}
						{{>portfolio_skills}}
					{{/with}}
				</div>
				<div class="item__content__images">
					{{#with this}}
						{{>portfolio_images}}
					{{/with}}		
				</div>
			</div>
		</section>
	{{/if}}
</template>

<template name="portfolio_images">
	{{#if images.useSlider}}
		<div class="image__slider">
			{{#with images.collection}}
				{{> components_imageslider}}
			{{/with}}
		</div>
	{{else}}
		<div class="image__standalone">
			{{#with images.collection}}
				{{#each this}}
					{{> cards_image}}
				{{/each}}
			{{/with}}
		</div>
	{{/if}}	
</template>

<template name="portfolio_skills">
	<div class="item__skills">
		<h3 class="skills__title">
			Code / Skills
		</h3>
		<ol class="item__skills__list">
			{{#each skills}}
				<li class="item__skills__list__item">
					{{fields.title}}
				</li>
			{{/each}}
		</ol>
	</div>
</template>

<template name="item_production_url">
	{{#if exists fields.productionUrl}}
		<a href="{{fields.productionUrl}}" class="production-url" title="{{fields.urlTitle}}">
			{{fields.urlTitle}}
		</a>
	{{/if}}
</template>

<template name="item_github_url">
	{{#if exists fields.githubUrl}}
		<a href="{{fields.githubUrl}}" class="icon-github github-url" title="See {{fields.title}} on GitHub">
		</a>
	{{/if}}
</template>

