<title>
	{{ .Title }}
</title>
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{{ if .Description }}
	<meta name="description" content="{{ .Description }}">
{{ else }}
	<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}
<meta name="author" content="{{ .Site.Params.author }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="/css/main.css">
