<template name="components_header">
	<header>
		<div class="title">
			<h1>
				Matt Finucane
			</h1>
			<h2>
				Meteor and iOS developer
			</h2>
		</div>
		<!-- {{#if showGithubTimeline}}
			{{>components_github}}
		{{/if}} -->
		<button>
			<svg 	xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					version="1.1"
					viewbox="0 0 48 32">
				<g>
					<rect width="48" height="4" />
					<rect y="14" width="48" height="4" />
					<rect y="28" width="48" height="4" />
				</g>
			</svg>
		</button>
		<nav>

		</nav>
	</header>
</template>

