<template name="components_header">
	<header>
		<div class="title">
			<h1>
				Matt Finucane
			</h1>
			<h2>
				MeteorJS and iOS Developer
			</h2>
		</div>
		{{> components_github}}
		<nav>
			<ol>
				<li>
					<a href="{{pathFor 'work'}}" title="Work">
						Work
					</a>
				</li>
				<li>
					<a href="{{pathFor 'cv'}}" title="CV">
						CV
					</a>
				</li>
				<li>
					<a href="{{pathFor 'about'}}" title="About">
						About
					</a>
				</li>
			</ol>
		</nav>
	</header>
</template>