<template name="components_imageslider">
	{{#unless isTouchDevice}}
		<button class="slider__paddle slider__paddle--hidden arrow-left" data-direction="previous">
		</button>
		<button class="slider__paddle arrow-right" data-direction="next">
		</button>
	{{/unless}}
	<div class="slider__container">
		<div class="slider__container__slider slider" style="width: {{sliderWidth}}%;">
			{{#each this}}
				<div class="slider__container__slider__slide slide">
					{{> cards_image}} 
				</div>
			{{/each}}
		</div>
		{{#if isTouchDevice}}
			<div class="slider__indicator">
				{{#each this}}
					<div class="slider__indicator__item">
					</div>
				{{/each}}
			</div>
		{{/if}}
	</div>
</template>