<template name="views_experience">
	<div class="wrapper wrapper--center cv">
		<button class="paddle paddle--hidden arrow-left" data-direction="previous">
		</button>
		<button class="paddle arrow-right" data-direction="next">
		</button>
		{{>components_timeline timelineData}}
		<div class="slider__container">
			<div class="slider__container__slider">
				{{#if Template.subscriptionsReady}}
					{{#each groupedJobs}}
						<div class="slider__container__slider__slide">
							{{#each this}}
								{{>cards_job}}
							{{/each}}
						</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</template>