<template name="views_experience">
	{{#if deviceClass.isMobile}}
		{{>views_experience_stacked}}
	{{else}}
		{{#if deviceClass.isTablet}}
			{{>views_experience_stacked}}
		{{else}}
			{{>views_experience_slider}}
		{{/if}}
	{{/if}}
</template>

<template name="views_experience_slider">
	<div class="wrapper">		
		<div class="slider__container">
			{{>components_timeline timelineData}}
			<div class="slider__container__slider slider">
				{{#if Template.subscriptionsReady}}
					{{#each groupedJobs}}
						<div class="slider__container__slider__slide slider__container__slider__slide--experience slide">
							{{#each this}}
								{{>cards_job}}
							{{/each}}
						</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="views_experience_stacked">
	<div class="jobs">
		{{#if Template.subscriptionsReady}}
			{{#each jobs}}
				{{>cards_job}}
			{{/each}}
		{{/if}}
	</div>
</template>