/**
 *	Layout
 */
$gridSpacing: 16
$maxWidth: 2650
$break0:	320
$break1: 640
$break2: 960
$break3:	1280
$break4: 1600
$break5:	1920

/**
 *	Colours
 */
$black: 		#000
$white:			#fff
$grey:			#bbb
$darkGrey:	darken($grey, 70%)
$turquoise: #0cd3d1
$darkGreen:	#009a96

/**
 *	Fonts and font sizes
 */
$fontFamily: 			"Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$baseFontSize:		em(16)
$smallFontSize:		$baseFontSize * 0.75
$mediumFontSize: 	$baseFontSize * 1.5
$largeFontSize:		$baseFontSize * 2
$largerFontSize:	$baseFontSize * 3
$superFontSize:		$baseFontSize * 4

/**
 *	Miscellaneous
 */
$transitionDuration: 350ms
