/**
 *	Layout
 */
$gridSpacing: 16px

/**
 *	Colours
 */
$black: 		#000
$white:			#fff
$grey:			#bbb
$darkGrey:	darken($grey, 70%)
$turquoise: #0cd3d1
$darkGreen:	#009a96

/**
 *	Fonts and font sizes
 */
$fontFamily: 			"Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$baseFontSize:		16px
$smallFontSize:		$baseFontSize * 0.75
$mediumFontSize: 	$baseFontSize * 1.5
$largeFontSize:		$baseFontSize * 2
$largerFontSize:	$baseFontSize * 3
$superFontSize:		$baseFontSize * 4

/**
 *	Miscellaneous
 */
$transitionDuration: 350ms
