
*
	box-sizing: border-box
	-webkit-padding-start: 0px

body 
	+resetPaddingMargin
	+backgroundGradient
	font-family: $fontFamily
	font-size: $baseFontSize
	color: $black
	width: 100vw
	height: 100vh

.container 
	width: 100vw
	height: 100vh

	+break(min, $break-0)
		padding-top: $gridSpacing * 4
	+break(min, $break-1)
		padding-top: $gridSpacing * 8

.wrapper 
	display: block
	+transitionWithProperties(margin)

h1,
h2, 
h3, 
h4,
h5, 
h6
	+resetPaddingMargin

ol,
ul
	+resetList

button
	background-color: transparent
	border: none
	+appearance(none)

a
	color: currentColor
	text-decoration: none
	&:hover 
		text-decoration: underline
	