/**
 *	Header animation
 */
.animate-in
	opacity: 0;
	
	span.letter
		display: inline-block
		transform: rotate3d(0, 1, 0, 90deg)
		backface-visibility: hidden
		transition-duration: 200ms

		&.revealed
			transform: rotate3d(0, 1, 0, 0deg);

.animated-card
	a
		+cardRotateState(before)

	&.is-animated
		perspective: 200px
		a
			+cardRotateState(after)

.animated-image
	+transitionWithProperties(transform, 500ms)
	+cardRotateState(before, 90deg, 0deg)

	&.is-animated
		+cardRotateState(after)