=break($type, $param-break-1, $param-break-2: '')
	@if $type == min
		@media screen and (min-width: $param-break-1)
			@content
	@else if $type == max
		@media screen and (max-width: $param-break-2)
			@content
	@else if $type == min-max
		@media screen and (min-width: $param-break-1) and (max-width: $param-break-2 - 0.05rem)
			@content

=transitionWithProperties($props, $ms: $transition-duration)
	transition-property: $props
	transition-duration: $ms

=contentSection
	padding-top: $units * 2

=listItem
	display: inline-block
	position: relative
	padding-left: $units * 1.25
	margin: $units / 2 0
	&:before
		position: absolute
		left: $units * 0.25
		content: '\2013'

=listBoxes
	display: flex
	flex-direction: row
	flex-wrap: wrap

	li
		display: flex
		margin-bottom: $units / 2
		padding-right: $units / 2

		+break(min-max, 0, $break-1)
			width: 50%
			&:nth-child(2n)
				padding-right: 0

		+break(min-max, $break-1, $break-2)
			width: 33%
			&:nth-child(3n)
				padding-right: 0

		+break(min-max, $break-2, $break-3)
			width: 25%
			&:nth-child(4n)
				padding-right: 0

		+break(min, $break-3)
			width: 20%
			&:nth-child(5n)
				padding-right: 0

		a
			display: flex
			width: 100%
			align-items: center;
			justify-content: center;
			color: $white
			padding: $units
			background-color: $dark-green
			border-bottom: none

			&[data-proficiency="1"]
				background-color: rgba($proficiency, 0.45)

			&[data-proficiency="2"]
				background-color: rgba($proficiency, 0.65)

			&[data-proficiency="3"]
				background-color: rgba($proficiency, 0.85)

			&[data-proficiency="4"]
				background-color: $proficiency
