/** 
 *	Applicable to all pages
 */
section.page,
section.category,
section.home,
section.projects,
section.work-with-me
	+contentSection

/**
 *	Projects list
 */
ul.projects-list
	margin: $units 0

/**
 *	CV
 */
section.cv
	ul
		margin-bottom: $units * 3
		&:last-child
			margin-bottom: 0

/**
 *	Work with me
 */
