/** 
 *	Applicable to all pages
 */
main.page
	+contentSection
	max-width: $units * 50

	h2
		color: $green
		margin-left: $units * 4

		margin-bottom: $units
		margin-top: $units * 3

		+break(min, $break-3)
			margin-bottom: $units * 2
			margin-top: $units * 6

		&:first-of-type
				margin-top: 0

	p + h2
		+break(min, $break-3)
			margin-top: $units * 5

/**
 *	CV
 */
main.work-experience
	
	max-width: 80rem

	// padding: 0

	.cv-job
		display: flex
		flex-direction: row
		margin-bottom: $units * 4
		perspective: 2000px

		img 
			width: $units * 12.5
			height: auto
			align-self: flex-start
			background-color: $green

		aside
			max-width: $units * 50

		+break(min-max, 0, $break-2)
			flex-direction: column
			
			img
				align-self: center
				margin-bottom: $units * 2

		+break(min, $break-2)
			&:nth-of-type(odd)
				flex-direction: row-reverse
				img
					margin-left: $units * 2.5

			&:nth-of-type(even)
				img
					margin-right: $units * 2.5

		&:last-child
			margin-bottom: 0

		&.no-image
			justify-content: center

	h3,
	h4
		color: $green

/**
 *	Blog posts
 */
main.posts
	h2
		margin: 0
	p
		margin: 0

	article
		padding: $units 0
		border-bottom: 4px solid $link-border
		margin-bottom: $units * 3
		&:last-of-type
			border-bottom: 0

/**
 *	Disqus comment widget
 */
div.comments
	+contentSection
	max-width: $units * 50