/** 
 *	Applicable to all pages
 */
section.page
	+contentSection

	h2
		margin: $units / 2 0
		color: $green

/**
 *	Home page
 */		
section.home
	h2
		margin-left: 20%

	ul
		margin-bottom: $units * 3

/**
 *	Projects list
 */
ul.projects-list
	margin: $units 0

	li
		a.project-card
			flex-direction: column
			align-items: flex-start
			
			h2
				margin-bottom: $units / 4

/**
 *	CV
 */
section.cv
	ul
		margin-bottom: $units * 3
		&:last-child
			margin-bottom: 0

/**
 *	Work with me
 */
