*
	padding: 	0
	margin: 	0
	box-sizing: border-box

html
	.teaser,
	.page h2
		+transitionWithProperties(filter, 700ms)
		filter: blur($units * 0.75)

	&.wf-active
		.teaser,
		.page h2
			filter: blur(0)

body
	z-index: 		$middle
	display: 		flex
	flex-direction:	column
	align-items:	center
	color: 			$black

	&.prevent-scroll 
		overflow: hidden

div.wrapper
	display: flex
	flex-direction: column
	align-items: center
	width: 100%

	&.background-dark-green
		background-color: $dark-green

	&.background-light-green
		background-color: $light-green

header,
div:not(.wrapper),
footer
	width: 100%
	max-width: $max-width

ul 
	list-style: none

a
	text-decoration: none
	color: currentColor
	&:not(.term-card):not(.project-card):not(.nav-link):not(.title):not(.social-link)
		+contentLink

p
	margin: $units 0

button
	border: 0
	background: none
	outline: none

ul:not(.taxonomies-list):not(.projects-list):not(.menu):not(.social-links)
	li
		+listItem