*
	padding: 	0
	margin: 	0
	box-sizing: border-box

body
	z-index: 		$middle
	display: 		flex
	flex-direction:	column
	align-items:	center
	color: 			$black

	&.prevent-scroll 
		overflow: hidden

div.wrapper
	display: flex
	flex-direction: column
	align-items: center
	width: 100vw

	&.background-dark-green
		background-color: $dark-green

	&.background-light-green
		background-color: $light-green

header,
div:not(.wrapper),
footer
	width: 100vw
	max-width: $max-width

ul 
	list-style: none

a
	text-decoration: none
	color: $link
	border-bottom: 1px solid currentColor

	&:hover
		color: $link-hover

p
	margin: $units 0

button
	border: 0
	background: none
	outline: none

ul:not(.taxonomies-list):not(.projects-list):not(.menu)
	li
		+listItem