h1,
h2 
	font-size: 		$medium-font-size
	line-height: 	$medium-line-height
	letter-spacing: $letter-spacing

	+break(min, $break-1)
		font-size: 		$medium-font-size * 1.25
		line-height: 	$medium-line-height * 1.25

	+break(min, $break-2)
		font-size: 		$medium-font-size * 1.5
		line-height: 	$medium-line-height * 1.5

	+break(min, $break-4)
		font-size: 		$medium-font-size * 2.0
		line-height: 	$medium-line-height * 2.0

ul,
p,
h3, 
h4
	font-size: 		$base-font-size
	line-height:	$base-line-height
	letter-spacing: $letter-spacing

	+break(min, $break-1)
		font-size: 		$base-font-size * 1.25
		line-height: 	$base-line-height * 1.25

	+break(min, $break-2)
		font-size: 		$base-font-size * 1.5
		line-height: 	$base-line-height * 1.5

	+break(min, $break-4)
		font-size: 		$base-font-size * 2.0
		line-height: 	$base-line-height * 2.0

ul,
p 
	font-weight: $font-weight-normal

h3,
h4
	font-weight: $font-weight-bold


	
