/**
 *	Header
 */
header
	h1
		font-size: 		$base-font-size * 1.25
		letter-spacing: $letter-spacing
		text-transform: uppercase
		font-weight: 	$font-weight-light
		letter-spacing: $letter-spacing

		strong 
			font-family: $font-family-normal
			font-weight: $font-weight-light

/**
 *	Teaser
 */
.teaser
	h2, 
	h3
		font-family: 	$font-family-alt
		font-style: 	italic
		font-weight: 	$font-weight-light
		font-size: 		($base-font-size * 1.25) + 0.125rem
		line-height: 	($base-font-size * 1.5) + 0.125rem
		letter-spacing: $letter-spacing / 2

/**
 *	Page
 */
.page
	h2
		font-family: 	$font-family-alt
		font-size: 		$base-font-size * 1.25
		line-height: 	$base-font-size * 1.5
		letter-spacing: $letter-spacing

/**
 *	General
 */
ul,
p
	font-family: 	$font-family
	font-size: 		$base-font-size
	letter-spacing: $letter-spacing