.slider__container__slider__slide--experience
	+display(flex)
	+flex-direction(row)

.job
	+break(min, $break-0)
		padding: 2em
	+break(min, $break-1)
		padding: 4em
	+break(min, $break-2)
		padding: 6em
	+break(min, $break-3)
		padding: 2em
	+break(min, $break-4)
		padding: 4em
	+break(min, $break-5)
		padding: 6em

.job__title,
.job__role_location,
.job__dates
	margin-bottom: 1rem
	+tac

.job__dates
	+italic

.job__description
	+display(flex)
	+break(min, $break-0)
		+flex-direction(column)
	+break(min, $break-4)
		+flex-direction(row)


.job__description
	ul
		list-style: disc
		li
			margin-bottom: 1rem
			+taj
			+break(min, $break-4)
				padding-right: 4rem
