.slider__container__slider__slide--experience
	+display(flex)
	+flex-direction(row)

.job
	+flex(1)
	+display(flex)
	+flex-direction(column)
	+transitionWithProperties(padding)

	+break(min-max, $break-0, $break-3)
		background-color: $white
		border-top: 0.25rem solid $grey
	+break(min, $break-0)
		padding: 2rem
	+break(min, $break-1)
		padding: 4rem 6rem
	+break(min, $break-3)
		padding: 4rem
	+break(min, $break-4)
		padding: 4rem 6rem
	+break(min, $break-5)
		padding: 4rem 10rem
	+break(min, $break-6)
		padding: 6rem 15rem
	+break(min, $break-7)
		padding: 6rem 20rem
		

.job__title,
.job__role_location,
.job__dates
	margin-bottom: 1rem
	+break(min, $break-3)
		+tac

.job__title
	margin-bottom: 0

.job__dates 
	margin-bottom: 2rem

.job__title,
.job__role_location
	+break(min, $break-0)
		font-size: $mediumFontSize
	+break(min, $break-3)
		font-size: $largeFontSize

.job__dates
	+italic

.job__description
	ul
		display: block
		list-style: disc
		li
			margin-bottom: 1rem
			line-height: $line-height
			+taj

.job__images
	+display(flex)
	+justify-content(center)
	margin: 1rem 0
	.image
		margin-right: 1rem
