.loading
	+display(flex)
	+align-items(center)
	+justify-content(center)
	height: 25rem

.loading__icon
	+flex(none)
	// +display(flex)
	// max-width: 4rem
	width: 4rem
	height: 4rem
	// line-height: 100%
	border-radius: 2rem
	border: 4px solid $grey
	border-bottom: 4px solid $white
	+animation(rotate 0.5s linear infinite)

