<head>
	<meta charset="UTF-8">
	<title>
		Matt Finucane - Portfolio &amp; CV
	</title>
	<meta name="description" content="Berlin based iOS and Javascript developer. This is my CV and portfolio website.">
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
</head>

<body>
</body>

<template name="main">
	<div class="container">
		<!-- Header -->
		<div class="wrapper top">
			{{> yield region="header"}}
		</div>
		<!-- Content -->
		{{> yield region="content"}}
		
	</div>
</template>