/**
 *	Blog posts
 */

.blogpost-card {
  time {
    display: block;
    margin-bottom: $units / 2;
  }
}

.post {
  .byline {
    margin-top: $units * 4;
  }
}

pre {
  padding: $units;
  background-color: rgba($black, 0.1);
  overflow-x: auto;
}
