{{ $taxonomy 	:= .Params.taxonomy }}
{{ $term 		:= .Params.term }}
{{ $projects 	:= where .Site.Pages "Section" "projects" }}

<ul class="projects-list">
	{{ range $projects }}
		{{ if eq $taxonomy "frameworks" }}
			{{ if in .Params.frameworks $term }}
				<li>
					{{ .Render "card" }}
				</li>
			{{ end }}
		{{ else if eq $taxonomy "infrastructure" }}
			{{ if in .Params.infrastructure $term }}
				<li>
					{{ .Render "card" }}
				</li>
			{{ end }}
		{{ else if eq $taxonomy "languages" }}
			{{ if in .Params.languages $term }}
				<li>
					{{ .Render "card" }}
				</li>
			{{ end }}
		{{ else if eq $taxonomy "tools" }}
			{{ if in .Params.tools $term }}
				<li>
					{{ .Render "card" }}
				</li>
			{{ end }}
		{{ end }}
	{{ end }}
</ul>