<ul class="social-links">
	
	<li>
		<a class="social-link" href="https://github.com/matfin">
			<svg role="img">
				<use xlink:href="/svg/sprite.svg#github" />
			</svg>
		</a>
	</li>

	<li>
		<a class="social-link" href="https://twitter.com/matfinucane">
			<svg role="img">
				<use xlink:href="/svg/sprite.svg#twitter" />
			</svg>
		</a>
	</li>

	<li>
		<a class="social-link" href="https://www.linkedin.com/in/mattfinucane/">
			<svg role="img">
				<use xlink:href="/svg/sprite.svg#linkedin" />
			</svg>
		</a>
	</li>

	<li>
		<a class="social-link" href="https://stackoverflow.com/users/1515180/matfin">
			<svg role="img">
				<use xlink:href="/svg/sprite.svg#stackoverflow" />
			</svg>
		</a>
	</li>

</ul>