<ul class="social-links">
	
	<li>
		<a class="social-link" href="https://github.com/matfin">
			<svg width="40" height="40" role="img" data-svg="github">
				<use xlink:href="/svg/sprite.svg#github">
				</use>
			</svg>
		</a>
	</li>

	<li>
		<a class="social-link" href="https://twitter.com/matfinucane">
			<svg width="40" height="40" role="img" data-svg="twitter">
				<use xlink:href="/svg/sprite.svg#twitter">
				</use>
			</svg>
		</a>
	</li>

	<li>
		<a class="social-link" href="https://www.linkedin.com/in/mattfinucane/">
			<svg width="40" height="40" role="img" data-svg="linkedin">
				<use xlink:href="/svg/sprite.svg#linkedin">
				</use>
			</svg>
		</a>
	</li>

	<li>
		<a class="social-link" href="https://stackoverflow.com/users/1515180/matfin">
			<svg width="40" height="40" role="img" data-svg="stackoverflow">
				<use xlink:href="/svg/sprite.svg#stackoverflow">
				</use>
			</svg>
		</a>
	</li>

</ul>