{{ $which := .Get "items" }}

<ul class="taxonomies-list">
	{{ if eq $which "Languages" }}
		{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.Languages }}
			<li>
				<a href="{{ "/languages/" | relLangURL}}{{ $taxonomyname | urlize }}">
					{{ $taxonomyname }}
				</a>
			</li>
		{{ end }}
	{{ else if eq $which "Frameworks" }}
		{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.Frameworks }}
			<li>
				<a href="{{ "/frameworks/" | relLangURL}}{{ $taxonomyname | urlize }}">
					{{ $taxonomyname }}
				</a>
			</li>
		{{ end }}
	{{ else if eq $which "Infrastructure" }}
		{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.Infrastructure }}
			<li>
				<a href="{{ "/infrastructure/" | relLangURL}}{{ $taxonomyname | urlize }}">
					{{ $taxonomyname }}
				</a>
			</li>
		{{ end }}
	{{ else if eq $which "Tools" }}
		{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.Tools }}
			<li>
				<a href="{{ "/tools/" | relLangURL}}{{ $taxonomyname | urlize }}">
					{{ $taxonomyname }}
				</a>
			</li>
		{{ end }}
	{{ end }}
</ul>