/**
 *	Header
 */

header
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	padding: $units
	background-color: $dark-green

	+break(min, $break-3)
		margin-top: $units * 3

	+transitionWithProperties(background-color)

	a
		border-bottom: none
		color: $white
		
	button
		display: none
		color: $white

		svg,
		img
			color: $white
			&:first-of-type
				display: block

			&:last-of-type
				display: none

		+break(min-max, 0px, $break-3)
			display: block

	&.nav-open
		background-color: $menu-green

		svg,
		img
			&:first-of-type
				display: none
			&:last-of-type
				display: block

/**
 *	This is a fix for IE to place the nav button 
 *	in the correct place. It addresses a flexbox
 *  bug that leaves the button centered.
 */
html.is-ie
	header
		button
			position: absolute;
			top: $units;
			right: $units;

/**
 *	Responsive navigation
 */
nav
	ul
		display: flex
		flex-direction: column
		align-items: center

		li 
			padding: $units / 2
			a
				border-bottom: none

				&.active
					border-bottom: 1px solid currentColor
					padding-bottom: $units / 2


		+break(min, $break-3)
			flex-direction: row
			li
				padding-left: $units * 1.5

	+break(min-max, 0, $break-3)
		position: fixed
		top: 55px
		transform: translate3d(100vw, 0, 0)
		width: 100vw
		height: calc(100vh - 55px)
		background-color: $dark-green
		+transitionWithProperties((transform, background-color))

		&.revealed
			z-index: $over
			background-color: $menu-green
			left: 0
			transform: translate3d(0, 0, 0)

/**
 *	Teasers
 */
div.teaser
	display: flex
	flex-direction: column
	justify-content: center
	padding: ($units * 3) $units
	color: $white

	+break(min, $break-3)
		min-height: 25vh

/**
 *	Footer
 */
footer
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: $units * 1.5 $units
	color: $green
