/**
 *	Header
 */

header
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	padding: $units
	background-color: $dark-green

	+break(min, $break-3)
		margin-top: $units * 3

	+transitionWithProperties(background-color)

	&.highlighted
		background-color: $menu-green

	a
		border-bottom: none
		color: $white
		
	button
		display: none
		color: $white
		+break(min-max, 0px, $break-3)
			display: block

/**
 *	Responsive navigation
 */
nav
	ul
		display: flex
		flex-direction: column
		align-items: center

		li 
			padding: $units / 2
			a
				border-bottom: none

		+break(min, $break-3)
			flex-direction: row
			li
				padding-left: $units * 1.5

	button
		position: absolute
		top: $units
		right: $units * 1.5

	+break(min-max, 0, $break-3)
		position: fixed
		top: 55px
		transform: translate3d(100vh, 0, 0)
		width: 100vw
		height: calc(100vh - 55px)
		background-color: $dark-green
		+transitionWithProperties((transform, background-color))

		&.revealed
			z-index: $over
			background-color: $menu-green
			left: 0
			transform: translate3d(0, 0, 0)

/**
 *	Teasers
 */
div.teaser
	display: flex
	flex-direction: column
	justify-content: center
	// max-width: $units * 50
	padding: ($units * 3) $units
	color: $white

	+break(min, $break-3)
		min-height: 25vh

/**
 *	Footer
 */
footer
	padding: $units * 1.5 $units
	background-color: $light-green
	color: $off-white

	a,
	p
		display: inline-block

	a
		float: right
		margin-bottom: $units * 2.5

	p
		margin: $units / 4 0
